@charset "UTF-8";

figure {
    display: inline-block;
    border: 0px dotted gray;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}

aside p {
	text-align: center;
}

h1{
	text-align: center;
}

div.row {
    padding: 0 6px;
  float: left;
  width: 24.99999%
}




