@charset "UTF-8";

#conteudo {
		width: 100%;
		float: right;		
		}

figure {
    display: inline-block;
    border: 0px dotted gray;
    margin: 20px; /* adjust as needed */
}

div.row {
    padding: 0 6px;
  float: left;
  width: 24.99999%
}




